@font-face {
    font-family: Roboto-Light;
    src: url(Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    font-family: Roboto-Light;
}

.navbar>div>a {
    margin: 20px;
}
.navbar>a {
    margin-right: 60px;
}

.navbar>a>img {
    height: 25px;
}

a {
    text-decoration: none;   
}

body {
    height: 60vh;
    padding: 10px 50px;
}

.body{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

#main-search{
    width: max(400px, 80vw);
    max-width: 800px;
    height: 40px;
    border-radius: 20px;
    border-width: 1px;
    padding-left: 30px; 
}

#search-buttons{
    display: flex;
    justify-content: center;
}

#search-buttons>*{
    margin: 20px;
    font-size: 1.2rem;
    background-color: #ececec;
    border: 1px solid #cecece;
    padding:10px;
    color: #3c4043;
    font-family: Roboto;
    border-radius: 8px;
}


#advanced-body{
    align-items:flex-start;
}

#advanced-search{
    width: min(80vw, 800px);
    display: grid;
    grid-template: auto/ 30% 70%;
    row-gap: 10px;
}

#advanced-button{
    background-color: #4d90fe;
    color:white;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border: 1px solid #3079ed;
    padding: 10px;

}

.blue {
    color: #4d90fe;
    margin-top: 0px;
}

