
<div class = "card text-bg-light mb-3 comment">
  <div class = "card-body">
    <h5 class="card-title">
      <a href = "{% url 'profile' profile_id=post.poster_id %}"> {{post.poster}} </a>
    </h5>
    <p class="card-text" id="{{post.id}}">
      {{post.content}}
    </p>
    <form style="display: none" id="form-{{post.id}}" class="card text-bg-light" method="post">
      {% csrf_token %}
      <textarea
        class="form-control"
        id="form-content-{{post.id}}"
        name="content"
        rows="3"
      >{{post.content}}</textarea>
      <button type="submit" class="btn btn-primary save-button" data-id="{{post.id}}" id="save-{{post.id}}">Save</button>
    </form>
    {% if post.poster_id == request.user.id %}
      <!-- edit button that's shown by default -->
      <button class="btn btn-primary edit-button" data-id="{{post.id}}" id="edit-{{post.id}}">Edit</button>
      <!-- form that's hidden by default -->
    {% endif %}
  </div>
  <div class="card-footer text-muted">
    {{post.time}}
    <span id="like-count-{{post.id}}">{{post.liked_by.count}}</span> likes
    <button id="like-{{post.id}}">
      {% if request.user in post.liked_by.all %}
        Unlike
      {% else %}
        Like
      {% endif %}
    </button>
  </div>
</div>

{% if post.poster_id == request.user.id %}
<script>
  editPost("{{post.id}}");
</script>
{% endif %}
<script>
  likePost("{{post.id}}")
</script>
