{% extends "auctions/layout.html" %}

{% block body %}
    Welcome, {{ id }}
    <h2>Active Listings</h2>
        {% for item in active_listings %}

            <div class="listing">
                <a href = "{% url 'listing' auction_id=item.id %}">
                    <div class = "listing-picture">
                        {%if item.image %}
                            <img src = "{{ item.image.url }}">
                        {% else %}
                            <h6> No image</h6>
                        {%endif%}

                    </div>
                </a>
            
                <div class="listing-description">
                    <a href="{% url 'listing' auction_id=item.id %}">
                        <h3>
                            {{ item.title }}
                        </h3>
                    </a>
                    <h5>
                        {{ item.item_type }}
                    </h5>
                    <li>
                        {{ item.description }}
                    </li>
                </div>
                <div class="listing-owner">
                    <h4>
                        <strong>${{ item.currentprice }}</strong>
                    <h4>
                    <li>
                        {{ item.owner }}
                    </li>
                </div>
            
            </div>
        
        {% empty %}
        No active listings
            
        {% endfor %}
    TODO
{% endblock %}