{% extends "network/layout.html" %}

{% block body %}

{% for post in following_posts %}
    <div class = "card text-bg-light mb-3 comment">
        <div class = "card-body">
            <h5 class="card-title">
                {{post.poster}}
            </h5>
            <p class="card-text">
                {{post.content}}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{post.time}}
            {{post.liked_by.count}} likes
        </div>
    </div>
{% endfor %}

{% else %}
    <h3> No posts by this user or user does not exist </h3>
{% endif %}

{% endblock %}