{% extends "network/layout.html" %}

{% block body %}
    <form id = "post_form" class = "card text-bg-light" action="{%url 'make_post' %}" method="post">
        {% csrf_token %}
        {{ post_form }}

        <div class = "card-footer text-muted" id = "post_button_container">
          <button class = "btn btn-primary" id = "make_post" type="submit">Make a post</button>
        </div>
    </form>

    <h3> Your feed </h3>
    {% for post in page_posts %}
      {% include "network/components/post.html" with post=post %}
    {% endfor %}

    {% include "network/components/paginator.html" with page_posts=page_posts %}

{% endblock %}
