{% extends "network/layout.html" %}

{% block body %}
    <form id = "post_form" class = "card text-bg-light" action="{%url 'make_post' %}" method="post">
        {% csrf_token %}
        {{ post_form }}

        <div class = "card-footer text-muted" id = "post_button_container">
            <button class = "btn btn-primary" id = "make_post" type="submit">Make a post</button>
        </div>
    </form>

    <h3> Your feed </h3>
    {%for post in list_all %}
    <div class = "card text-bg-light mb-3 comment">
        <div class = "card-body">
            <h5 class="card-title">
                <a href = "{% url 'profile' profile_id=post.poster_id %}"> {{post.poster}} </a>
            </h5>
            <p class="card-text">
                {{post.content}}
            </p>
        </div>
        <div class="card-footer text-muted">
            {{post.time}}
            {{post.liked_by.count}} likes
        </div>
    </div>
    {% endfor %}

{% endblock %}